@font-face {
    font-family: 'SinkinSans';
    src:  url('../files/fonts/SinkinSans-400Regular.woff') format('woff'), /* Pretty Modern Browsers */
          url('../files/fonts/SinkinSans-400Regular.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SinkinSans';
    src:  url('../files/fonts/SinkinSans-500Medium.woff') format('woff'), /* Pretty Modern Browsers */
          url('../files/fonts/SinkinSans-500Medium.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SinkinSans';
    src:  url('../files/fonts/SinkinSans-600SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
          url('../files/fonts/SinkinSans-600SemiBold.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SinkinSans';
    src:  url('../files/fonts/SinkinSans-700Bold.woff') format('woff'), /* Pretty Modern Browsers */
          url('../files/fonts/SinkinSans-700Bold.woff2') format('woff2'); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
}