<!DOCTYPE html>
<html>

<head>
    <title>AJMI | lehibou</title>
    <meta charset="utf-8">
    <meta name="author" content="AJMI">
    <meta name="description" content="Test technique LEHIBOU">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="./assets/">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- .container -->
    <div class="container-xl">
        <div class="card-deck">
            <!-- Card Toy Story -->
            <div class="card card-lastNews toy-story rounded-0 p-3 text-white position-relative">
              <img class="card-img-top card-lastNews__picture position-absolute" src="./files/img/toy-story-cd.png" alt="Toy story 4">
              <div class="card-header bg-transparent p-0 rounded-0 border-bottom-0 d-flex flex-column z-index-10"><span><u>Nouveauté</u></span> à partir du 25 décembre</div>
              <div class="card-body mt-3 p-0 z-index-10">
                <h2 class="card-title m-0">Toy Story 4 Toy<br>Story 4</h2>
                <p class="card-text position-relative d-flex align-items-end">
                    <span class="card-lastNews__startFrom position-absolute">à partir de</span>
                    <span class="card-lastNews__newPrice p-2 bg-white text-darkblue">15<small>.90€</small></span>
                    <span class="card-lastNews__oldPrice p-1"><s>16<small>.90€</small></s></span>
                </p>
              </div>
              <div class="card-lastNews__discount position-absolute bg-white d-flex flex-column align-items-center p-2 text-red">jusqu'à<span>-50%</span></pan></div>
              <div class="card-footer bg-transparent p-0 mt-3 rounded-0 border-top-0 d-flex">
                <button type="button" class="btn btn-info bg-darkBlue border-darkblue text-white mr-2">J'en profite</button>
                <button type="button" class="btn btn-light bg-transparent text-white mr-2">Voir toutes les nouveautés</button>
                <button type="button" class="btn btn-link text-white p-1 align-self-end">Condition*</button>
              </div>
            </div><!-- End Card Toy Story -->

            <!-- Card Bigflo & Oli -->
            <div class="card card-lastNews bigflo rounded-0 p-0 text-darkblue bg-lightBlue position-relative overflow-hidden">
                <div class="card-skew p-3 z-index-10">
                    <div class="card-header bg-transparent p-0 rounded-0 border-bottom-0 d-flex flex-column z-index-10"><span><u>Dédicace</u></span> vendredi 15 juin à 14h00</div>
                    <div class="card-body mt-4 p-0 z-index-10">
                      <h2 class="card-title m-0">Bigflo & Oly</h2>
                      <p class="card-lastNews__desc mt-4">
                         Venez les rencontrer, unse surprise à la clé !
                      </p>
                    </div>
                    <div class="card-footer bg-transparent p-0 mt-4 rounded-0 border-top-0 d-flex">
                      <button type="button" class="btn btn-info bg-darkBlue border-darkblue text-white mr-2">En savoir plus</button>
                    </div>
                </div>
                <div class="card-lastNews__discount position-absolute bg-white d-flex flex-column align-items-center p-2 text-red">jusqu'à<span>-50%</span></pan></div>
              </div><!-- End Card Bigflo & Oli -->
          </div>
    </div> <!-- End container -->
</body>

</html>
