@import '_includes/_vars';
@import '_includes/_mixins';
@import '_includes/_fonts';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '_includes/_responsive';


html, body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'SinkinSans', Helvetica;
    font-weight: $regular;
}

/**
 Specific code for Test
 **/

 .card-lastNews {
    background-repeat: no-repeat;

    &.toy-story {
        background-image: url(../files/img/toy-story-4.jpg);
        background-size: cover;
    }
    &.bigflo {
        background-image: url(../files/img/bigflo.jpg);
        background-size: auto 100%;
        background-position: right;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 66px;
            background-color: #6bcbd7;
            z-index: 10;
            transform: skew(13deg, 9deg);
            left: calc(50% - 31px);
            top: -5px;
            height: 110%;
        }
    }
   
    .card {
        &-header {
            font-size: rem(12);

            span {
                text-transform: uppercase;
                font-size: rem(14);
                font-weight: $semiBold;
            }
        }
        &-title {
            font-size: rem(20);
            font-weight: $bold;
        }
        &-text {
            height: 40px;
            margin-top: 30px;
        }
        &-skew {
            width: 50%;
            height: 100%;
            background: $blue;
        }
        &-footer {
            height: 45px;
            z-index: 1;
             .btn {
                 font-size: rem(10);
                 line-height: 1.2;
                 font-weight: $medium;
                 &:hover {
                     opacity: 0.9;
                 }
             }
             .btn-link {
                font-size: rem(9);
                font-weight: $regular;
             }
        }
    }

    &__picture {
        width: auto;
        height: 80%;
        right: 0;
        bottom: 10px;
        z-index: 0;
    }

    &__startFrom {
        top : -16px;
        font-size: rem(9);
    }
    &__newPrice {
        font-weight: $bold;
        small {
            font-weight: $bold;
            font-size: 70%;
        }
    }
    &__oldPrice {
        font-size: rem(10);
        font-weight: $semiBold;
        small {
            font-size: 70%;
        }
    }
    &__discount {
        right: 10px;
        top: 10px;
        span {
            font-size: rem(20);
            font-weight: $bold;
        }
    }
    &__desc {
        font-size: rem(9);
    }
 }

/* GENERIC CLASS */
 .bg-darkBlue {
     background-color: $dark-blue!important;
 }

 .text-darkblue {
    color: $dark-blue!important;
 }

 .border-darkblue {
    border-color: $dark-blue!important;
}

.bg-lightBlue {
    background-color: $blue!important;
}

 .text-red {
    color: $red!important;
 }

 .bg-transparent {
    background-color: transparent!important;
}

.z-index-10 {
    z-index: 10;
}

.skew-15 {
    transform: skew(-15deg, -15deg);  
}
